
/* --- z-index log --- */
.svgContainer   {z-index: 0;}
.drag       {z-index: 2;}
.menu       {z-index: 4;}
.sideDetails{z-index: 4;}
.dialogBox  {z-index: 6;}



/* --- General Styles --- */
button, label, input, select {cursor: pointer;}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {color:#0000FF;text-decoration:underline;cursor:pointer;}
a:visited {                 /* Visited link*/
    //color: #00FF00;
    color: #0000FF} 
a:hover {color: #FF00FF;}   /* Mouse over link */
a:active {color: #0000FF;}  /* Selected link   */

ul li{
    margin-left: 2em;
    padding-bottom: 0.2em;
}


/* --- Main Content --- */
#header { grid-area: header; }
#menu1 { grid-area: menu1; }
#menu2 { grid-area: menu2; }
#main { grid-area: main; }
body {
  margin: 5px;
  display: grid;
  grid-template-areas:
    'header menu1 menu2'
    'main main main';
  grid-template-columns: auto 1fr 1fr;
  grid-gap: 10px;
  max-width: 1350px;
}
body > div {
  background-color: rgba(255, 255, 255, 0.8);
}
#header{
    padding: 0 20px 0 0;
}
.menu {
    padding: 5px 0 0;
}
.link{
    display: inline;
}
#report{
    margin-right: 10%;
    float: right;
}
#squish ~ div{display: none;}




/* --- Course Grid --- */
#grid {
  display: grid;
  grid-gap: 0px;
  padding: 5px 0px;
  margin: 0px 2%;
  grid-auto-flow: dense;
  width: clamp(900px, 2vw, 1400px);
}

.termLabel {
  padding: clamp(2px, 0.5em, 10px);
  display: grid;
  place-items: center start;
  font-size: clamp(10px, 2vw, 15px);
  font-family: sans-serif;
  max-height: 2em;
}

.empty, .drag, .dragDummy{
  width: clamp(50px, 5vw, 80px);
  height: clamp(20px, 2vw, 25px);
  align-items: center;
  border-radius: clamp(2px, .5vw, 8px);
}
.empty {
  margin: clamp(10px, 1vmin, 15px) 10px;
  display: grid;
  place-items: center;
}
.drag, .dragDummy {
  background-color: lightblue;
  text-align: center;
  padding: 5px 2px 0px;
  font-size: clamp(8px, 0.8vw, 12px);
  font-family: sans-serif;
  //font: 1vw "Comic Sans MS", "Comic Sans", 'Brush Script MT', sans-serif;
  border: 0.2em solid royalblue;
  position: relative;
  cursor: pointer;
}
.drag:hover {
  background-color: deeppink !important;
}

.svgContainer {
    position: absolute; 
    top: 0px; 
    left: 0px;
}

.warning {
    display: none;
    position: absolute;
    height: 1.5em;
    width: auto;
    top: -30%;
    right: -10%;
    cursor: help;
}



/* --- Details --- */
//#main{position: relative;}
#details img, .inlineWarning {
    height: 1em; 
    vertical-align:text-top;
}
.sideDetails{
    position: absolute;
    height: 100%;
    width: 10vw;
    top: 0;
    right: 0;
    resize: horizontal;
    overflow: hidden;
}

.dragDummy{
    display: inline-block;
    margin: clamp(10px, 1vmin, 15px) 10px;
}




/* --- Import/Export --- */
#exportButton{visibility: hidden;}

#copyExportButton, #saveExportButton {
    margin: 5px 4px 2px 0px;
}

#importButton{
    float: right;
    width: 5em;
    height: 2em;
}

/* --- Dialog Box --- */
.dialogBox {
    background-color: rgba(50,50,50,0.6);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    place-items: center;
    display: none;
    cursor: pointer;
}
.dialogBox > div {
    background-color: white;
    border: 1px solid #999;
    padding: 10px 10px 0px;
    max-width: 80vw;
}
.dialogBox > div > div {padding: 50px;}
.dialogBox > div{
    cursor: auto;
}
.close {
    float: right;
    top: 0;
    right: 0;
    height: 1.5em;
    width: 1.5em;
    font-weight: bold;
}
textarea {
    max-width: 80vw;
}
pre, code, textarea {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    overflow-wrap: anywhere;
}





/* --- Dark Theme --- */
.darkTheme, .darkTheme > div{
    background-color: black;
}
.darkTheme div *:not(div):not(button){
    color: white;
}
.darkTheme .dialogBox > div {
    background-color: black;
}
.darkTheme pre, .darkTheme textarea, .darkTheme select{
    background-color: #222;
}
